.navbar{
  background-color: #335C81;
}

.filler{
  color: red;
  background-color: black;
}

#bottombar{
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-top: 10px;
  color: #65AFFF;
  background-color: #1B2845;
}

#main{
  margin-bottom: 50px;
}

body {
  background-color: #65AFFF;
}
