{% extends "base.html" %}

{% block title %}
  Outfit
{% endblock title %}

{% block extraStyling %}
  <link rel="stylesheet" href="../static/css/settings.css" />
  <link rel="stylesheet" href="../static/css/outfit.css" />
{% endblock %}

{% block body %}
  <!-- outfit=outfit, temp=(temp,high,low), weather=name -->
  <h1 class="header">
    Our Recommended Outfit
  </h1>

  <div class="container">
    {% for clothing in outfit %}
      <div class="card-block">
        <div class="card">
          <div class="row">
            <div>
              <img src={{clothing.3}} class="card-img" alt="...">
            </div>
            <div class="card-body">
              <h3 class="card-title">{{clothing.1}}</h3>
              <p class="card-text">{{clothing.2}}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h1 class="header">
    The Weather Today
  </h1>

  <div class="form-block">
    <div class="row">
      <div class="col">
        <h4 class="mini-header">
          The Temperature Today:
        </h4>
        <div class="undertext">
          {{temp.0}} &#176 C
        </div>
      </div>
      <div class="col">
        <h4 class="mini-header">
          Minimum Temperature:
        </h4>
        <div class="undertext">
          {{temp.1}} &#176 C
        </div>
      </div>
      <div class="col">
        <h4 class="mini-header">
          Maximum Temperature:
        </h4>
        <div class="undertext">
          {{temp.2}} &#176 C
        </div>
      </div>
    </div>

    <div>
      <h4 class="mini-header">
        The Weather:
      </h4>
      <div class="undertext">  
        {{weather}}
      </div>
    </div>
  </div>
{% endblock %}
