{% extends "base.html" %}

{% block title %}
  Home
{% endblock title %}

{% block body%}
  <br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}

      {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}

    {% endif %}
  {% endwith %}
  <center>
    <h1>
      <br>
      <br>
      <br>
      <br>
    Welcome to Drip
       <br>
      <br>
      <br>
      <br>
  </h1>

  <p>
    Drip makes sure that you have drip, no matter the weather.
     <br>
      <br>
      <br>
    Drip is not just a weather app, nor is it just a wardrobe chooser, it is a lifestyle.
    <br>
    <br>
    <br>
    Using a proprietary algorithm, drip takes simple weather forecasts and breaks them down for you, picking your outfit for the day in the process.
     <br>
      <br>
      <br>
    No more head scratching and painful decisions, Drip will boil down the day's weather into a few simple outfits for you to choose from.
    And it learns from your preferences too, making Drip the essential companion to any morning routine.
  </p>
  </center>
{% endblock body%}
