{% extends "base.html" %}

{% block title %}
  Settings
{% endblock title %}

{% block extraStyling %}
  <link rel="stylesheet" href="../static/css/settings.css" />
{% endblock extraStyling %}

{% block body %}
  <h1 id="closet-header">
    Add new clothes:
  </h1>
  <div id="form-block">
    <form action="/add_clothing", method="POST">
      <div class="form-group">
        <label for="name">New Piece: </label>
        <input class="input-box" type="text" name="name">
      </div>
      <div class="form-group">
        <label for="picture">Picture URL; </label>
        <input class="input-box" type="url" name="picture">
      </div>
      <div class="form-group">
        <label for="ctype">Clothing type: </label>
        <input class="input-box" type="text" name="ctype">
      </div>
      <center>
        <input type='submit' name='sub1' class="btn btn-primary" value="Register">
      </center>
    </form>
  </div>

  <h1 id="closet-header">
    Your Closet:
  </h1>
  <div id="closet">
    <!-- code to generate cards for each clothing piece -->
    <div class="card-columns">
      {% for clothing in clothes %}
      <div class="card">
        <!-- clothing image -->
        <img src={{clothing.3}} class="card-img-top" alt="...">
        <div class="card-body">
          <!-- clothing name -->
          <h5 class="card-title">{{clothing.1}}</h5>
          <!-- type -->
          <p class="card-text">
            {{clothing.2}}
          </p>
          <!-- remove button -->
          <form action="/remove_clothing", method="POST">
            <center>
              <input type="text" name="id" value={{clothing.0}} hidden>
              <button class="btn btn-primary">Remove</button>
            </center>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock body %}
